<a href="/groups">Dashboard</a>
<h1><%= @group.name%></h1>
<p><%= @group.description%></p>
<% if not @group.users.include?(current_user) %>
  <form action="/joins" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="join[group_id]" value="<%= @group.id %>">
    <input type="submit" value="Join">
  </form>
<%else%>
  <form action="/joins/<%=Join.where(user:current_user, group: @group).first.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Leave">
  </form>
<%end%>
<h1>Created By:<%= @group.user.first_name %> <%= @group.user.last_name %></h1>
<h1>Members:</h1>
<% if @group.users %>
  <% @group.users.each do |name| %>
    <%= name.first_name %> <%= name.last_name %><br>
  <%end%>
<%end%>